body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
}


.busqueda {
    display: flex;
    justify-content: center;  /* Centra horizontalmente */
    align-items: center;      /* Centra verticalmente */
    height: 70vh;             /* Asegura que el buscador esté en el centro de la pantalla */
}

input {
    width: 50%;               
    max-width: 600px;      
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.resultados {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    gap: 20px;
    width: 80%;
    margin: 0 auto;
    min-height: 50vh; /* Ajusta para que los resultados estén bien posicionados */
}

.producto {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.producto-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.producto img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}


